CODIMD_BASE_URL=http://140.115.52.84:3000
CODIMD_DB_URL=postgres://USER:PASSWORD@HOST:5432/DATABASE
CODIMD_USERNAME=
CODIMD_PASSWORD=
CODIMD_SESSION_COOKIE=
INDEX_PATH=./data/index
CACHE_PATH=./data/cache
RAG_EMBEDDING_DIMENSIONS=1536
RAG_ANSWER_SIMILARITY_THRESHOLD=0.9
RAG_ANSWER_CACHE_HIT_SCORE_THRESHOLD=0.85
RAG_CHUNK_MAX_CHARS=1800
RAG_CHUNK_OVERLAP_CHARS=200
